<h1>Welcome to Ethiopia</h1>
<h3>welcome {{firstName +" "+ lastName}}</h3>
<button [disabled]="isDisabled">Register</button>
<div [className]="'red '">

</div>

<h5 class="red ">

</h5>

<div class="red" [className]="">

</div>

<!--Apply classes conditionally-->
<div [className]="myClass">
welcome 
</div>
<div [className]="hasError() ? 'red' : 'size20'"> conditonal operator </div>

<h4 [style.color]="getClass()">hi hi</h4>

<h6 [style.background-color]="getBackground()">Welcome to Ethiopian Electric Power</h6>

<button (click)="onSave()">Register</button>